/* Common styles and large screens */

body {
    background: white;
    margin: 0;
}

a :link :visited {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 2.0em;
    font-weight: bold;
}

h2 {
    text-align: center;
}

section {
    margin: 0px 5% 0 5%;
}


.navigation {
    background: darkred;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#navbar a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.nav-link {
    font-size: 1.2em;
}

div.container {
    height: 90%;
    overflow-y: auto;
    position: fixed;
    top: 70px;
}

#welcome-section {
    height: 100vh;
}

#project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.project-img {
    border: 1px solid black;
    border-radius: 10%;
    max-width: 75%;
}

.project-description {
    max-width: 75%;
}

/* Medium screens */

@media (min-width: 481px) and (max-width: 768px) {

    #project-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-row-gap: 15px;
        justify-items: center;
        margin: 0 auto;
        max-width: 90%;
    }

    .project {
        max-width: 100%;
    }
}

/* Small screens */

@media (max-width: 480px) {

    #project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 90%;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 90%;
    }

    .project-img {
        border: 1px solid black;
        border-radius: 10%;
        max-width: 75%;
    }

    .project-description {
        max-width: 75%;
    }

}